.hero{
    height: 100vh;
    background-image: url('file:///C:/Users/ashish%20dash/Desktop/Jwellery-website/frontend/src/Components/Assets/hero2.png');
    /*background: linear-gradient(180deg, #E7E8D1, #e1ffea22 60%);*/
    display: flex;
    margin-top: 40px;
}
.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    font-family: Playfair Display, serif;
    color: 	#c7af6b;
    font-size: 30px;
    font-weight: 600;
}
.hero-left p{
    color: #c7af6b;
    /*color: #efbf04;*/
    font-size: 100px;
    font-weight: 700;
 
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 70px;
    border-radius: 30px 30px 30px 30px; 
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    margin-top: 30px;
    color: #654321;
    background: white;
    /*background: #f36270;
    color: white;*/
    font-size: 22px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
}
.hero-latest-btn:hover{
    transform: scale(1.01);
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}